@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 62.5rem;
  margin: 0 auto;
  .close-icon {
    align-self: flex-end;
    width: 1.7rem;
    margin: 2rem;
    fill: $blue-midtone;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      fill: $blue-highlight;
      transform: rotate(-90deg);
    }
    &:active {
      fill: $blue-lowlight;
    }
  }
  .user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    .selected-image {
      width: 120rem;
      margin-bottom: 2.67rem;
    }
    .user-image {
      width: 5.6rem;
      border-radius: 5.6rem;
    }
    .fullname {
      margin: 1.7rem 0 0.5rem;
      font-size: 2.4rem;
      font-weight: 700;
    }
    .username {
      margin: 0;
      font-size: 1.4rem;
    }
  }
  .location-wrapper {
    display: flex;
    align-items: center;
    margin: 2rem;
    .location-icon {
      margin-right: 0.9rem;
      fill: $lightgrey;
    }
  }
}

@media screen and (max-width: 1260px) {
  .Details {
    .close-icon {
      margin: 0 2rem 2rem;
    }
    .user-wrapper {
      .selected-image {
        width: 560px;
      }
    }
    .location-wrapper {
      margin: 2rem 2rem 0;
    }
  }
}

@media screen and (max-width: 620px) {
  .Details {
    .user-wrapper {
      .selected-image {
        width: 335px;
      }
    }
  }
}