@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.Details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 62.5rem;
  margin: 0 auto; }
  .Details .close-icon {
    align-self: flex-end;
    width: 1.7rem;
    margin: 2rem;
    fill: #2F80ED;
    cursor: pointer; }
    .Details .close-icon:hover {
      fill: #33ADFF; }
    .Details .close-icon:active {
      fill: #3F67D4; }
  .Details .user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .Details .user-wrapper .selected-image {
      width: 120rem;
      margin-bottom: 2.67rem; }
    .Details .user-wrapper .user-image {
      width: 5.6rem;
      border-radius: 5.6rem; }
    .Details .user-wrapper .fullname {
      margin: 1.7rem 0 0.5rem;
      font-size: 2.4rem;
      font-weight: 700; }
    .Details .user-wrapper .username {
      margin: 0;
      font-size: 1.4rem; }
  .Details .location-wrapper {
    display: flex;
    align-items: center;
    margin: 2rem; }
    .Details .location-wrapper .location-icon {
      margin-right: 0.9rem;
      fill: #BDBDBD; }

@media screen and (max-width: 1260px) {
  .Details .close-icon {
    margin: 0 2rem 2rem; }
  .Details .user-wrapper .selected-image {
    width: 560px; }
  .Details .location-wrapper {
    margin: 2rem 2rem 0; } }

@media screen and (max-width: 620px) {
  .Details .user-wrapper .selected-image {
    width: 335px; } }
