@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.StyleGuideButton {
  @include buttonDefaultAlternate;
  align-self: center;
  display: flex;
  justify-content: center;
  width: 18rem;
  margin: 2rem;
  cursor: pointer;
  text-decoration: none;
  .style-icon {
    width: 16px;
    margin: 0.5rem;
    margin-right: 1.5rem;
    fill: $white-transparent;
    transition: 0.2s;
  }
  &:hover {
    @include buttonHover;
    .style-icon {
      fill: #fff;
      transform: rotate(-90deg);
    }
  }
  &:active {
    @include buttonActive;
  }
}
