@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.StyleGuideButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #fff;
  color: #2F80ED;
  font-size: 1.6rem;
  transition: 0.2s ease-in-out;
  outline: none;
  cursor: pointer;
  background-color: #2F80ED;
  color: #fff;
  cursor: default;
  width: 18rem;
  margin: 2rem;
  cursor: pointer; }
  .StyleGuideButton .style-wrapper {
    display: flex;
    height: 3rem;
    align-items: center;
    text-decoration: none;
    color: #fff; }
    .StyleGuideButton .style-wrapper .style-icon {
      width: 16px;
      margin: 0.5rem;
      fill: rgba(255, 255, 255, 0.7);
      transition: 0.2s; }
    .StyleGuideButton .style-wrapper .style-text {
      margin-left: 1rem; }
  .StyleGuideButton:hover {
    background-color: #33ADFF;
    color: #fff; }
    .StyleGuideButton:hover .style-icon {
      fill: #fff;
      transform: rotate(-90deg); }
  .StyleGuideButton:active {
    background-color: #3F67D4;
    color: #fff; }
