@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.StyleGuideButton {
  @include buttonDefaultAlternate;
  width: 18rem;
  margin: 2rem;
  cursor: pointer;
  .style-wrapper {
    display: flex;
    height: 3rem;
    align-items: center;
    text-decoration: none;
    color: #fff;
    .style-icon {
      width: 16px;
      margin: 0.5rem;
      fill: $white-transparent;
      transition: 0.2s;
    }
    .style-text {
      margin-left: 1rem;
    }
  }
  &:hover {
    @include buttonHover;
    .style-icon {
      fill: #fff;
      transform: rotate(-90deg);
    }
  }
  &:active {
    @include buttonActive;
  }
}
