@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.GetPhotosButton {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  background-color: #fff;
  color: #2F80ED;
  font-size: 1.6rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  background-color: #2F80ED;
  color: #fff;
  cursor: default;
  align-self: center;
  display: flex;
  justify-content: center;
  width: 18rem;
  margin: 2rem;
  cursor: pointer; }
  .GetPhotosButton .wrapper {
    display: flex;
    height: 3rem;
    align-items: center; }
    .GetPhotosButton .wrapper .plus-icon {
      width: 16px;
      margin: 0.5rem;
      fill: rgba(255, 255, 255, 0.7);
      transition: 0.2s; }
    .GetPhotosButton .wrapper .loader {
      align-self: center;
      display: inline-block;
      position: relative;
      width: 2.6rem;
      height: 2.6rem; }
      .GetPhotosButton .wrapper .loader div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        border-radius: 50%;
        animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite; }
      .GetPhotosButton .wrapper .loader div:nth-child(1) {
        animation-delay: -0.45s; }
      .GetPhotosButton .wrapper .loader div:nth-child(2) {
        animation-delay: -0.3s; }
      .GetPhotosButton .wrapper .loader div:nth-child(3) {
        animation-delay: -0.15s; }

@keyframes loader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
      .GetPhotosButton .wrapper .loader div {
        width: 2.6rem;
        height: 2.6rem;
        border: 3px solid #fff;
        border-color: #fff transparent transparent transparent; }
    .GetPhotosButton .wrapper .get-photos-text {
      margin: 0.5rem; }
  .GetPhotosButton:hover {
    background-color: #33ADFF;
    color: #fff; }
    .GetPhotosButton:hover .plus-icon {
      fill: #FFF;
      transform: rotate(-90deg); }
  .GetPhotosButton:active {
    background-color: #3F67D4;
    color: #fff; }
  .GetPhotosButton.loading {
    background-color: #8EB7ED;
    color: #fff;
    pointer-events: none; }
