@import './variables.scss';

// Button Styles
@mixin buttonDefault() {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 2px;
  background-color: #fff;
  color: $blue-midtone;
  font-size: 1.6rem;
  cursor: pointer;
}

@mixin buttonDefaultAlternate() {
  @include buttonDefault();
  background-color: $blue-midtone;
  color: #fff;
  cursor: default;
}

@mixin buttonHover() {
  background-color: $blue-highlight;
  color: #fff;
}

@mixin buttonActive() {
  background-color: $blue-lowlight;
  color: #fff;
}

@mixin buttonDisabled() {
  background-color: $lightblue;
  color: #fff;
}
