@import './variables.scss';
// Boxsizing to REMs
@mixin height($height) {
  height: convertRem($height);
}

@mixin width($width) {
  width: convertRem($width);
}

@mixin maxHeight($maxHeight) {
  max-height: convertRem($maxHeight);
}

@mixin minHeight($minHeight) {
  min-height: convertRem($minHeight);
}

@mixin maxWidth($maxWidth) {
  max-width: convertRem($maxWidth);
}

@mixin minWidth($minWidth) {
  min-width: convertRem($minWidth);
}

@mixin margin($margin) {
  margin: convertRem($margin);
}

@mixin marginYX($Ymargin, $Xmargin) {
  margin: convertRem($Ymargin) convertRem($Xmargin);
}

@mixin padding($padding) {
  padding: convertRem($padding);
}

@mixin top($top) {
  top: convertRem($top);
}

@mixin right($right) {
  right: convertRem($right);
}

@mixin bottom($bottom) {
  bottom: convertRem($bottom);
}

@mixin left($left) {
  left: convertRem($left);
}

@function convertRem($size) {
  @if $size==auto {
    @return auto;
  }
  $remSize: $size * 0.625;
  @return #{$remSize}rem;
}

// Button Styles
@mixin buttonDefault() {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include margin(1);
  @include padding(1.5);
  border-radius: 2px;
  background-color: #fff;
  color: $blue-midtone;
  font-size: 1.2rem;
  cursor: pointer;
}

@mixin buttonDefaultAlternate() {
  @include buttonDefault();
  background-color: $blue-midtone;
  color: #fff;
  cursor: default;
}

@mixin buttonHover() {
  background-color: $blue-highlight;
  color: #fff;
}

@mixin buttonActive() {
  background-color: $blue-lowlight;
  color: #fff;
}

@mixin buttonDisabled() {
  background-color: $lightblue;
  color: #fff;
}
