@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.App {
  width: 87.5rem;
  margin: 1.25rem auto; }

@media screen and (max-width: 875px) {
  .App {
    width: 600px;
    margin: 20px auto; } }

@media screen and (max-width: 599px) {
  .App {
    width: 375px; } }
