@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.GetPhotosButton {
  @include buttonDefaultAlternate;
  align-self: center;
  display: flex;
  justify-content: center;
  width: 18rem;
  margin: 2rem;
  cursor: pointer;
  .plus-icon {
    width: 16px;
    margin: 0.5rem;
    fill: $white-transparent;
    transition: 0.2s;
  }
  .get-photos-text {
    margin: 0.5rem;
  }
  &:hover {
    @include buttonHover;
    .plus-icon {
      fill: #FFF;
      transform: rotate(-90deg);
    }
  }
  &:active {
    @include buttonActive;
  }
}