@import '../../styles/variables.scss';

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .view-icon {
    fill: #FFF;
  }
  .view-button {
    background-color: $blue-midtone;
    color: #FFF;
  }
}