@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .Header .view-button {
    background-color: #FFF;
    color: #2F80ED;
    fill: #2F80ED;
    cursor: pointer; }
    .Header .view-button.active {
      background-color: #2F80ED;
      color: #FFF;
      fill: #FFF; }
