@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  .header-title {
    margin: 0;
    font-size: 3.2rem;
  }
  .button-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    .view-button {
      @include buttonDefault;
      width: 8rem;
      .view-icon {
        fill: $blue-midtone-transparent;
        transition: 0.2s ease-in-out;
        &.selected {
          fill: #fff;
        }
      }
      &:hover {
        @include buttonHover;
        .view-icon {
          fill: #fff;
        }
      }
      &:active {
        @include buttonActive;
        .view-icon {
          fill: #fff;
        }
      }
      &:disabled {
        @include buttonDisabled;
        .view-icon {
          fill: #fff;
        }
      }
      &.selected {
        @include buttonDefaultAlternate;
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .Header {
    .header-title {
      font-size: 24px;
    }
  }
}
