@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.Photo {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: -2rem;
  border: 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #fff;
  text-decoration: none;
  .list-image {
    width: 24rem;
  }
  .photo-details-link {
    margin: 0 4rem;
    color: $blue-midtone;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 137.5%;
    word-break: break-all;
    transition: 0.2s ease-in-out;
  }
  &:hover .photo-details-link {
    color: $blue-highlight;
  }
  &:active .photo-details-link {
    color: $blue-lowlight;
  }
  @include threeQuartersBorder;
}

@media screen and (max-width: 1260px) {
  .Photo {
    .grid-image {
      width: 27rem;
    }
    .photo-details-link {
      margin: 0 20px;
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 620px) {
  .Photo {
    .list-image {
      width: 80px;
    }
    .grid-image {
      width: 33.5rem;
    }
    .photo-details-link {
      font-size: 16px;
    }
  }
}
