@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.Photo {
  display: flex;
  align-items: center; }
  .Photo .list-image {
    width: 24rem;
    margin: 2rem 0; }
  .Photo .photo-details-link {
    margin: 0 4rem;
    color: #2F80ED;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 137.5%;
    word-break: break-all; }

@media screen and (max-width: 1260px) {
  .Photo .grid-image {
    width: 27rem; }
  .Photo .photo-details-link {
    margin: 0 20px;
    font-size: 24px; } }

@media screen and (max-width: 615px) {
  .Photo .list-image {
    width: 80px; }
  .Photo .photo-details-link {
    font-size: 16px; } }
