@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.Photo {
  display: flex;
  align-items: center;
  margin: 4rem 0; }
  .Photo .photo-image {
    width: 24rem; }
  .Photo .photo-details-link {
    margin: 0 4rem;
    color: #2F80ED;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 137.5%;
    word-break: break-all; }

@media screen and (max-width: 890px) {
  .Photo .photo-details-link {
    margin: 0 20px;
    font-size: 24px; } }

@media screen and (max-width: 615px) {
  .Photo .photo-image {
    width: 80px; }
  .Photo .photo-details-link {
    font-size: 16px; } }
