@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  .header-title {
    margin: 0;
    font-size: 3.2rem;
  }
  .button-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    .view-button {
      @include buttonDefault;
      width: 8rem;
      .view-icon {
        fill: $blue-midtone-transparent;
        transition: 0.2s ease-in-out;
        &.selected {
          fill: #fff;
        }
      }
      .view-button-text {
        align-self: baseline;
        margin: 0.75rem 0.5rem;
        padding: 0;
        border: none;
        background: none;
        color: $blue-midtone;
        cursor: pointer;
      }
      &:hover {
        @include buttonHover;
        .view-icon {
          fill: #fff;
        }
        .view-button-text {
          color: #fff;
        }
      }
      &:active {
        @include buttonActive;
      }
      &:disabled {
        @include buttonDisabled;
        .view-icon {
          fill: #fff;
        }
      }
      &.selected {
        @include buttonDefaultAlternate;
        .view-button-text {
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 1260px) {
  .Header {
    margin: 2rem;
  }
}

@media screen and (max-width: 620px) {
  .Header {
    .header-title {
      font-size: 24px;
    }
  }
}
