@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0; }
  .Header .header-title {
    margin: 0;
    font-size: 3.2rem; }
  .Header .button-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px; }
    .Header .button-wrapper .view-button {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 4rem;
      padding: 0.5rem;
      border: none;
      border-radius: 2px;
      background-color: #fff;
      color: #2F80ED;
      font-size: 1.6rem;
      transition: 0.2s ease-in-out;
      cursor: pointer;
      width: 8rem; }
      .Header .button-wrapper .view-button .view-icon {
        fill: rgba(47, 128, 237, 0.7);
        transition: 0.2s ease-in-out; }
        .Header .button-wrapper .view-button .view-icon.selected {
          fill: #fff; }
      .Header .button-wrapper .view-button:hover {
        background-color: #33ADFF;
        color: #fff; }
        .Header .button-wrapper .view-button:hover .view-icon {
          fill: #fff; }
      .Header .button-wrapper .view-button:active {
        background-color: #3F67D4;
        color: #fff; }
        .Header .button-wrapper .view-button:active .view-icon {
          fill: #fff; }
      .Header .button-wrapper .view-button:disabled {
        background-color: #8EB7ED;
        color: #fff;
        pointer-events: none; }
        .Header .button-wrapper .view-button:disabled .view-icon {
          fill: #fff; }
      .Header .button-wrapper .view-button.selected {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 4rem;
        padding: 0.5rem;
        border: none;
        border-radius: 2px;
        background-color: #fff;
        color: #2F80ED;
        font-size: 1.6rem;
        transition: 0.2s ease-in-out;
        cursor: pointer;
        background-color: #2F80ED;
        color: #fff;
        cursor: default; }

@media screen and (max-width: 1260px) {
  .Header {
    margin: 2rem; } }

@media screen and (max-width: 620px) {
  .Header .header-title {
    font-size: 24px; } }
